# Nextcloud environment variables
MYSQL_ROOT_PASSWORD=<your_root_password>
MYSQL_PASSWORD=<your_nc_password>
MYSQL_DATABASE=nextcloud
MYSQL_HOST=db

NEXTCLOUD_DB_DIR=~/.nextcloud/db
NEXTCLOUD_SYSTEM_DIR=~/.nextcloud/system
NEXTCLOUD_USER_DATA_DIR=/Volumes/hss/nextcloud/userdata
NEXTCLOUD_TRUSTED_DOMAINS=localhost:8080 192\.168\..*
OVERWRITE_HOST=
